html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body{
    background-color: #d18087;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.clock-face {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid #003440;
    background-color: white;
    position: relative;
    box-shadow: inset 0px 0px 10px #003440;
}
.clock-shadow {
    width: 380px;
    height: 50px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
}
.hand {
    width: 50%;
    height: 3px;
    background: #003440;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    border-radius: 5px 0 0 5px;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.46, 1.28, 0.85, 1.51);
}
.minute-hand {
    height: 8px;
}
.hour-hand {
    height: 15px;
    width: 150px;
    left: 13%;
}
.circle {
    width: 20px;
    height: 20px;
    background:yellow;
    border: 5px solid #003440;
    border-radius: 50%;
    position: absolute;
    top:190px;
    left: 185px;
}
.marks {
    width: 5px;
    height: 10px;
    border-radius: 20%;
    background: #003440;
    position: absolute;
}
.mark0 {
    left: 200px;
}
.mark15 {
    top: 200px;
    left: 393px;
    transform: rotate(90deg);
}
.mark30 {
    top: 393px;
    left: 200px;
}
.mark45 {
    top: 200px;
    transform: rotate(90deg);
}